@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap');

/* makes sizing simpler */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */
* {
    margin: 0;
    padding: 0;
    font: inherit;
}

:root{
    --manrope: "Manrope", sans-serif;
    --inter: "Inter", sans-serif;
    --text-color: #2F2F2F;
    --background-color: #F6F4F1;
    --maroon: #593137;
}

/* min body height */
body {
    min-height: 100vh;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--inter);
}

/* responsive images/videos */
img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

a{
    text-decoration: none;
    color: inherit;
}

.container{
    padding: 40px 30px;
    min-height: 100vh;
}


/*           HEADER            */

header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header-name{
    font-family: var(--manrope);
    font-size: 30px;
}

.header-name-span{
    color: var(--maroon);
    font-weight: bolder;
}

.hero-banner{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.hero-banner h1{
    font-size: 1.5rem;
    font-weight: bolder;
}

.hero-banner-button{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-top: 2rem;
}

#contact-button{
    background-color: var(--maroon);
    padding: 10px 15px;
    color: var(--background-color);
    font-size: 1.1rem;
    font-weight: 500;
    max-width: fit-content;
    flex: 2;
}

.light-text{
    opacity: 50%;
    flex: 2;
}

.partners{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.partners-logo{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.partners-logo img{
    max-width: 150px;
}


/*                              */


/*             SERVICES             */

.services-title{
    font-weight: 700;
    font-size: 1.3rem;
}











/*                                  */



@media (max-width: 1250px){
    .francois{
        display: none;
    }
}